@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    background-color: #EDEDED;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
    margin-right: 30px;
}

.header-strip {
    height: 10px;
    margin: 0px 0px 5px 0px;
    border-bottom: solid #272727 1px;
}

.eda {
    padding: 0px 20px 0px 0px;
    border: solid black 1px;
}

.kahikatea {
    padding: 0px 20px 0px 20px;
    border: solid 1px #000;
}

.year {
    padding: 0px 0px 0px 20px;
    border: solid black 1px;
}

.header-main {
    
    border-bottom: solid #272727 1px;
}

.header-title {
    font-family: 'Bungee', cursive;
    font-size: 30px;
    border: solid black 1px;
}

nav {
    
    padding: 0px 0px 0px 20px;
    border: solid black 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: inline;
    float: right;
}

a.header-title:link { color: #272727; }
a.header-title:visited { color: #272727; }
a.header-title:hover { color: deepskyblue;}
a.header-title:active { color: #272727; }

a.blog:link { color: #272727; }
a.blog:visited { color: #272727; }
a.blog:hover { color: orangered; }
a.blog:active { color: #272727; }

a.about:link { color: #272727; }
a.about:visited { color: #272727; }
a.about:hover { color: greenyellow; }
a.about:active { color: #272727; }


a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Bungee', cursive;
    font-size: 220px;
    color: #272727;
    text-align: center;
    margin: 60px auto;
}

h2 {
    font-size: 15px;
}

p {
    text-align: center;
}

footer {
    border: solid black 1px;
}